@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body,
input,
select,
div,
p {
  font-family: "Lexend", sans-serif !important;
  font-weight: 300;
}

.container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 0 auto;
}
